<ion-content class="custom-bg" [fullscreen]="true">
  <div class="wrap">
    <ion-button class="back-button" fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="icon-circle">
      <img src="../../../assets/images/Vector2.png" alt="Mouse" />
    </div>
    <h1 class="title">{{ categoria?.name }}</h1>
    <p class="subtitle">Cantidad: {{ items.length }}</p>
    <div class="device-card" *ngFor="let item of items">
      <div class="device-left">
        <span class="device-id">Nombre: {{ item.name }}</span>
        <span class="device-serial">Descripción: {{ item.description }}</span>
      </div>

      <div class="device-right">
        <span class="status">{{ item.status }}</span>
        <ion-icon name="time-outline"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>
