<ion-content class="login-content">
  <div class="logo-container">
    <img src="assets/images/Logo.png" alt="Codexy Logo" class="logo" />
    <h1 class="title">Codexy</h1>
  </div>
  <div class="buttons-container">
    <button class="custom-button" (click)="goToOperativo()">
      <img src="assets/images/heroicons_clipboard-document-check.png" alt="Operativo Icon" class="icon-left" />
      <span>Operativo</span>
      <img src="assets/images/Vector 1.png" alt="Arrow Icon" class="icon-right" />
    </button>

    <button class="custom-button" (click)="goToVerificador()">
      <img src="assets/images/heroicons_identification.png" alt="Verificador Icon" class="icon-left" />
      <span>Verificador</span>
      <img src="assets/images/Vector 1.png" alt="Arrow Icon" class="icon-right" />
    </button>
  </div>

</ion-content>
