<ion-content class="custom-bg" [fullscreen]="true">
  <div class="wrap">

       <ion-button class="back-button" fill="clear" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <!-- Círculo con icono -->
    <div class="icon-circle">
      <img src="../../../assets/images/3D_Forma_Sesion.png" alt="Ubicación" />
    </div>
      <h1 class="title">Revisión Inventario</h1>
   
    <!-- Lista de categorías del servicio -->
    <div class="card-list">
      <div class="card-item" *ngFor="let categoria of categorias">
        <div class="card-left">
          <span class="label">{{ categoria.name }}</span>
          <span class="count">{{ categoria.items?.length || 0 }} ítems</span>
        </div>

        <!-- toggle para marcar completado -->
        <ion-toggle
          [checked]="categoria.completa"
          (ionChange)="toggleCompleta(categoria, $event.detail.checked)">
        </ion-toggle>
      </div>
    </div>

  </div>
</ion-content>
