.custom-bg {
  --background: #0b0f2c;
  color: white;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  --background: rgba(10, 15, 44, 0);
  --color: #fff;
  border: 2px solid #3b82f6;
  border-radius: 999px;
  backdrop-filter: blur(4px);
}

.icon-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 20px;
  background: radial-gradient(circle at top, #1e3a8a, #9233ea00);
  box-shadow: 0 0 30px rgba(59, 130, 246, 0.8);
}

.icon-circle img {
  width: 70px;
  height: 70px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

ion-searchbar {
  width: 85%;
  margin: 20px 0;
  border-radius: 23px;
  border: 2px solid #3b82f6;
  --background: transparent;
}

.card-zona {
  width: 85%;
  margin: 10px 0;
  padding: 19px 20px;
  border-radius: 16px;
  background: linear-gradient(135deg, #141b3a, #0b0f2c);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.card-zona:active {
  transform: scale(0.98);
}

.icon-circle-small {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(59, 130, 246, 0.6);
}

.icon-circle-small ion-icon {
  font-size: 18px;
  color: white;
}
