<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Escáner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scanner-container">
    <div class="scanner-overlay">
      <div class="scanner-frame"></div>
      <p>Apunta el código QR dentro del marco</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Escaneo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor del video -->
  <div class="scanner-container">
    <video #video autoplay muted playsinline></video>
    <canvas #canvas hidden></canvas>
  </div>

  <ion-text class="scanner-hint">
    📷 Apunta la cámara al código QR
  </ion-text>
</ion-content>
