.operativo-content {
  --background: url("../../../assets/images/Inicio_Sesion_OP.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
}

/* Contenedor */
.operativo-wrapper {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
  text-align: center;
}

/* Icono superior */
.icon-box img {
  width: 90px;
  height: 90px;
  filter: drop-shadow(0 6px 20px rgba(0, 136, 255, 0.4));
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin: 10px 0 20px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.form-item {
  width: 80%;
  height: 6vh;
  --background: rgba(17,23,56,0.7);
  --color: #fff;
  border: 2px solid #1E4DFF;
  border-radius: 14px;
  margin-top: 10px;
  padding: 5px;
}

/* Texto dentro de ion-input */
ion-input::part(native) {
  color: #fff !important;
  font-size: 16px;
}

/* Placeholder de ion-input */
ion-input::part(placeholder) {
  color: #9ca3af !important;
  font-size: 14px;
}

/* Texto seleccionado en ion-select */
ion-select::part(text) {
  color: #fff !important;
  font-size: 16px;
}

/* Placeholder de ion-select */
ion-select::part(placeholder) {
  color: #9ca3af !important;
  font-size: 14px;
}

/* Botón acceder con estilo login */
.custom-button {
  position: relative;
  width: 75%;
  height: 60px;
  border: 3px solid #1E4DFF; 
  border-radius: 15px;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  overflow: hidden;
}

.custom-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #1E4DFF;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.custom-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

.custom-button img.icon-right {
  width: 20px;
  height: 20px;
}

/* Hint */
.hint {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}
.hint a {
  color: #3b82f6;
  font-weight: bold;
}


.custom-input {
  display: flex;
  align-items: center;
  border: 2px solid #2a3c80; // color azul similar al borde de tu captura
  border-radius: 12px;
  padding: 10px;
  margin: 12px 0;
  background: transparent;

  ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #9aa4c2; // gris azulado
  }

  ion-select,
  ion-input {
    flex: 1;
    color: #ffffff; // texto blanco
    font-size: 16px;
    --placeholder-color: #9aa4c2;
    --placeholder-opacity: 1;
  }

  ion-select::part(icon) {
    color: #9aa4c2; // color del icono desplegable
  }
}
